<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="UTF-8">
	<title>Spring Boot Sample 8</title>
</head>
<body>
	<!-- Title display -->
	<h3>Customer Information Delete</h3>
	<form th:action="@{/delete}" th:object="${customerDelete}" th:method="post">
		<!-- ID to be deleted -->
		<input type="hidden" th:field="*{num}" />
		<table>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Telno</th>
			</tr>
			<!-- Customer information to be deleted -->
			<tr>
				<td th:text="*{name}"></td>
				<td th:text="*{address}"></td>
				<td th:text="*{telno}"></td>
			</tr>
		</table>
		<!-- Delete button -->
		<button type="submit">Delete</button>
	</form>
	<!-- Back button -->
	<input type="button" onclick="history.back()" value="Retuen">
</body>
</html>